.about {
  height: 584px;
  background: url(../img/about-bg-main.png);
  background-size: cover; }
  .about__bg {
    background: url(../img/about-bg-right.png);
    background-size: cover; }
  .about__hi {
    padding-top: 90px; }
  .about__name {
    font-family: 'Asap', sans-serif;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize; }
    .about__name--bold {
      font-weight: 700; }
  .about__text {
    font-family: 'Karla Regular', sans-serif;
    font-size: 16px;
    line-height: 2;
    text-align: justify; }
  .about__button {
    display: block;
    cursor: pointer;
    outline: none;
    font-family: 'Asap', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #2cbe6a;
    text-transform: capitalize;
    border: #2cbe6a solid 1px;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    background: none; }
    .about__button:hover, .about__button--active {
      color: white;
      border-radius: 25px;
      background-color: #2cbe6a; }
  .about__slider {
    list-style: none;
    padding: 272px 0 0 31px; }
  .about__point {
    font-size: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    color: #4c4c4c; }
    .about__point--active, .about__point:hover {
      color: #2cbe6a; }
