.services {
  height: 600px; }
  .services__head {
    padding-top: 100px; }
  .services__cards {
    padding-top: 30px; }
  .services__my {
    padding-top: 100px;
    font-family: 'Asap', sans-serif;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize; }
    .services__my--bold {
      font-weight: 700; }
  .services__about {
    font-family: 'Asap', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 18px;
    padding-top: 20px; }
  .services__icon {
    padding-left: 10px;
    padding-top: 26px; }
  .services__name {
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    font-weight: 700; }
  .services__text {
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 75%; }
