.partners {
    background: url("../img/partners-bg.png"), no-repeat, 50%, 100%;
    background-size: cover;
    height: 350px;
    text-align: center;
    &__about {
        font-family: 'Asap', sans-serif;
        font-size: 18px;
        color: white;
        padding-top: 77px;
        margin: 0;
    }
    &__slider {
        margin: 0;
        padding: 70px 40px 0px 43px;
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
    }
    &__item {
        display: inline-block;
        cursor: pointer;
    }
    &__arrow {
        color: #787675;
        &--active {
            color: #33804f;
        }
    }
}