.title {
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 30px;
    line-height: 1;
    color: #202020;
    font-weight: 400;
    margin: 0;
    padding-top: 97px;
    padding-bottom: 26px;
    span {
        color: #2ec06c;
        font-weight: 700;
    }
}
.text {
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}