@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Rufina:400,700');
@import url('./blocks/blocks.scss');

body {
    background: url('../images/PSD.jpg');
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Rufina', serif;
}