.history
    .container
        h1.history__title Наша Історія
        p.history__text Рецепт "Миколаївського Наполеону" <br>не є таємницею. Він належить <br>миколаївцям. 
        a(href="./history.html").history__btn Читати Більше