each val in ['facebook', 'linkedin', 'behance', 'dribbble', 'instagram']
    .social
        a(href="javascript:void(0)", class="social--" + val)
            if (val == 'facebook')
                i(class='fab fa-${val}-f')
            if (val == 'linkedin')
                i(class='fab fa-${val}-in')
            else
                i(class='fab fa-${val}')