<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Rufina:400,700", rel="stylesheet")
        link(rel="stylesheet" href="../css/style.css")
        link(rel="stylesheet" href="../css/_main.css")
    body
        .header
            .container
                .row
                    .col.col-12
                        .row
                            .col.col-12
                                a(href="#").logo__link
                                    img(src="../images/logo-header.png", alt="", srcset="").logo__img 
                        .row
                            .col.col-12
                                nav.nav
                                    ul.nav__list
                                        li.nav__item
                                            a(href="#").nav__link.nav__link--active Portfolio
                                        li.nav__item
                                            a(href="#").nav__link About me
                                        li.nav__item
                                            a(href="#").nav__link Resume
                                        li.nav__item
                                            a(href="#").nav__link Contact
            .line
                a(href="#").line__link
                    img(src="../images/shadow-menu.png", alt="").line__img
        .mainblock
            .container
                .row
                    .col.col-12
                        .mainmenu
                            .row
                                .col.col-12
                                    ul.mainmenu__list
                                        li.mainmenu__item
                                            a(href="#").mainmenu__link.mainmenu__link--active All
                                        li.mainmenu__item
                                            a(href="#").mainmenu__link Mobile apps
                                        li.mainmenu__item
                                            a(href="#").mainmenu__link Web sites
                                        li.mainmenu__item
                                            a(href="#").mainmenu__link Logos
                                        li.mainmenu__item
                                            a(href="#").mainmenu__link Photography
                                        li.mainmenu__item
                                            a(href="#").mainmenu__link Others
                        .maintable
                            .container
                                .row
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/11.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/12.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/13.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/14.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/11.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/12.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/13.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/14.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/11.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/12.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/13.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/14.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/11.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/12.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/13.jpg").maintable__img
                                    .col.col-3
                                        a(href="#").maintable__cell 
                                            img(src="../images/14.jpg").maintable__img
        .footer
            .container
                .row
                    .col.col-8
                        .about
                            .row
                                .col.col-2
                                    .footerlogo
                                        a(href="#").footerlogo__link
                                            img(src="../images/logo-footer.png", alt="", srcset="").footerlogo__img
                                .col.col-10
                                    .row
                                        .col.col-12
                                            h1.name ganesh krishnan r
                                    .row
                                        .col.col-12
                                            .location
                                                ul.location__list
                                                   li
                                                       img(src="../images/location.png", alt="", srcset="").location__img   
                                                   li
                                                       p.location__address.location__address--first kannur,
                                                   li
                                                       p.location__address kerala, 
                                                   li
                                                       p.location__address india.
                                    .row
                                        .social__block
                                                .col.col-12
                                                    //- include ./_social
                                                    .social
                                                        a(href="javascript:void(0)").social--facebook
                                                            <i class="fab fa-facebook-f"></i>
                                                    .social  
                                                        a(href="#").social--linkedin
                                                            <i class="fab fa-linkedin-in"></i>
                                                    .social
                                                        a(href="javascript:void(0)").social--behance
                                                            <i class="fab fa-behance"></i>
                                                    .social
                                                        a(href="javascript:void(0)").social--dribbble
                                                            <i class="fab fa-dribbble"></i>
                                                    .social
                                                        a(href="javascript:void(0)").social--instagram
                                                            <i class="fab fa-instagram"></i>
                            .row
                                .col.col-12
                                    .text
                                        p.text__about I a am front end UI designer and developer with a strong eye for creative, modern and trendy designs. I am an internet bug who try to keep up with the latest trends and technologies. I love photography and have been doing photography professionally and as a hobby for past couple of years. Hence my graphic designing, image editing and manipulation skills have been growing with me during these years...
                    .col.col-4
                        .skills
                            .row
                                p.skills__my My Skills
                                    .skills__progressbar
                                        .row
                                            .col.col-2
                                                .skills__name.skills__name--ps
                                                    p.skills__title Ps
                                            .col.col-10
                                                .skills__value
                                                    .skills__bar
                                                        .skills__progress--ps
                                    .skills__progressbar
                                        .row
                                            .col.col-2
                                                .skills__name.skills__name--ai
                                                    p.skills__title Ai
                                            .col.col-10
                                                .skills__value
                                                    .skills__bar--active
                                                        .skills__progress--active
                                    .skills__progressbar
                                        .row
                                            .col.col-2
                                                .skills__name.skills__name--cdr
                                                    p.skills__title Cdr
                                            .col.col-10
                                               .skills__value
                                                    .skills__bar
                                                        .skills__progress--cdr
                                    .skills__progressbar
                                        .row
                                            .col.col-2
                                                .skills__name.skills__name--fl
                                                    p.skills__title Fl
                                            .col.col-10
                                               .skills__value
                                                    .skills__bar
                                                        .skills__progress--fl
                                    .skills__progressbar
                                       .row
                                            .col.col-2
                                               .skills__name.skills__name--dw
                                                    p.skills__title Dw
                                            .col.col-10
                                                .skills__value
                                                   .skills__bar
                                                       .skills__progress--dvi
                                    .skills__progressbar
                                        .row
                                            .col.col-2
                                               .skills__name.skills__name--pr
                                                       p.skills__title Pr
                                            .col.col-10
                                                .skills__value
                                                    .skills__bar
                                                        .skills__progress--pr
    .end
        .container
            .row
                .col.col-12
                    .end__footer
                        .row
                            .col.col-9
                                nav.end__menu
                                    ul.end__list
                                        li.end__item
                                            a(href="#").end__link.end__link--active Portfolio
                                        li.end__item
                                            a(href="#").end__link About me
                                        li.end__item
                                            a(href="#").end__link Resume
                                        li.end__item
                                            a(href="#").end__link Contact
                            .col.col-3
                                .rights
                                    p.rights__text all rights reserved © ganeshkrishnanr                                