$font-family-base: 'Norican', cursive;
$font-family-little: 'Libre Baskerville', serif;
$font-weight-title: 900;
$font-weight-subtitle: 500;
$font-weight-text: 500;
$font-size-title: 70px;
$font-size-subtitle: 30px;
$font-size-text: 30px;

// font-family: 'Lobster', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Abril Fatface', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Courgette', cursive;
// font-family: 'Cookie', cursive;
// font-family: 'Lobster Two', cursive;
// font-family: 'Rochester', cursive;
// font-family: 'Niconne', cursive;
// font-family: 'Norican', cursive;
// font-family: 'Markazi Text', serif;
// font-family: 'Lily Script One', cursive;
// font-family: 'Oleo Script Swash Caps', cursive;
// font-family: 'Katibeh', cursive;
// font-family: 'Spirax', cursive;
// font-family: 'Galada', cursive;
// font-family: 'Alike Angular', serif;
// font-family: 'Sail', cursive;
// font-family: 'Croissant One', cursive;
// font-family: 'Libre Baskerville', serif;

$primary: #685042;
$secondary: #e9d6ca;

$primary-text: #685042;
$secondary-text: #e9d6ca;

$success: green;
$warning: yellow;
$danger: red;